{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
<!-- Bootstrap File Upload CSS -->
<link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="center">
        <h1><span>Detecting Parkinson's</span></h1>
        <!-- <span>A short sub-text to define the heading</span> -->
      </div>

      <div class="line"></div>

      <h3>Detecting Parkinson's</h3>
      <form action="{% url 'results' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <div class="row">
            <label for="input-picture" class="col-sm-2 col-form-label">Type of picture</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="pictureType" id="pictureType1" value="spiral" checked="">
                <label class="form-check-label" for="pictureType1">
                  Spiral
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="pictureType" id="pictureType2" value="wave">
                <label class="form-check-label" for="pictureType2">
                  Wave
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label for="input-picture" class="col-sm-2 col-form-label">Picture for detect</label>
          <div class="col-sm-10">
            <input id="input-picture" name="file" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>


  </div>

</section>
{% endblock %}

{% block scripts %}
<!-- Bootstrap File Upload Plugin -->
<script src="{% static 'js/components/bs-filestyle.js' %}"></script>
{% endblock %}